.movie-description{
    display: flex;
    flex-direction: row;
    /* justify-content: space-between; */
}

h1{
    font-weight: bolder;
    font-size: xx-large;
}
aside{
    padding-left: 15px;
}

aside > p{
    font-size: large;
    font-weight: bold;
}